:root {
  --primary-color: #fd72ae;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;
}

body {
  margin: auto;
  max-width: 1500px;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  display: flexbox;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 30px;
  font-family: var(--main-font-family);
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--second-font-family);
}
.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  font-family: var(--second-font-family);
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.contact-link:hover {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.about-link:hover {
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  font-family: var(--second-font-family);
}

.email-link:hover {
  text-decoration: underline;
  color: violet;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--second-font-family);
}

.container {
  max-width: 1000px;
  max-height: 50px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 500px) {
  h1 {
    font-size: 40px;
    color: var(--primary-color);
  }
  h2 {
    font-size: 38px;
  }
  .hero1,
  .hero2,
  .hero3 {
    display: none;
  }

}
nav {
  position: relative;
  padding-bottom: 10px;
  font-family: var(--main-font-family);
}

div#contact {
  padding: 270px;
}

.hero {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

.hero1 {
  background-color: var(--secondary-color);
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 290px;
  padding: 30px;
}

.hero2 {
  background-color: var(--secondary-color);
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 1600px;
  padding: 30px;
}

.hero3 {
  background-color: var(--secondary-color);
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0px;
  padding: 30px;
}
.col-md-6 {
  padding: 2px;
}

footer {
  background-color: var(--secondary-color);
  display: block;
}

.logo {
  max-width: 60px;
  max-height: 40px;
}

.logo1 {
  max-height: 55px;
}

.logo4 {
  max-height: 40px;
}
.work {
  text-align: center;
  margin: 15px;
}

.card {
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
}

.contacto {
  color: var(--primary-color);
  font-size: 24px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

a {
  font-family: var(--second-font-family);
}
